@{
    ViewData["Title"] = "Home Page";
}

<h1>Visitor Pattern Demo</h1>
<div>
    <table>
        <tr>
			<td>
				To HTML:
			</td>
			<td>
				@ViewData["Html"]
			</td>
		</tr>
        <tr>
            <td>
                To Plain Text:
            </td>
            <td>
                @ViewData["PlainText"]
            </td>
        </tr>
        <tr>
            <td>
                To LaTex:
            </td>
            <td>
                @ViewData["Latex"]
            </td>
        </tr>
	</table>
</div>
<div>
</div>